.box {
    /* background: cyan; */
    box-shadow: 0px 10px 20px rgba(230, 240, 248, 0.932);
    border-radius: 10px;
    width: 160px;
    height: 160px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    transition: 300ms ease-in-out;
}

.box:hover {
    transform: scale(1.15);
}